/**
  重置样式 reset.scss
  Created by andy 2024/06
*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;   /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
  box-sizing: border-box;   /* Everything else */
}

html {
  -webkit-text-size-adjust: none; -ms-text-size-adjust: none;
}
body {
  // background-color: #f9f9f9;
  font:12px/1.2 Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto!important;
  padding:0;
  height: 100%;
  width: 100%;
}

p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, img, label, input, button, textarea, select, form {
  margin: 0; padding:0;
}
h1, h2, h3, h4, h5, h6, em, i, th, caption {font-style: normal;font-weight: normal;}
img {
  border: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a img {
  vertical-align: top;
}
ul, ol, li {
  list-style: none;
}
input, textarea {border-radius: 0;outline: none;}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  padding: 0;
}

/* 去除android上a、button、input标签点击产生的边框 */
a, button, input, label, li {-webkit-tap-highlight-color: transparent; outline:none;}

/* 清除浮动 */
.clearfix:after {content:""; clear:both; display:block;}
/* 不占位清除浮动 */
.cls {content: "";clear: both;height: 0px!important;line-height: 0px!important;font-size: 0px!important;overflow: hidden;}

/* css3文字截取 */
.clamp1, .clamp2, .clamp3 {display: -webkit-box!important; overflow: hidden; -webkit-box-orient: vertical;}
.clamp1 {-webkit-line-clamp: 1;}
.clamp2 {-webkit-line-clamp: 2;}
.clamp3 {-webkit-line-clamp: 3;}
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* 布局控制 */
.v__top {vertical-align: top!important;} .v__middle{vertical-align: middle!important;}
.max__img {display: block; margin: 0 auto; max-width: 100%;}
.fl {float: left!important;}
.fr {float: right!important;}
.hide {display: none!important;}
.w100 {width: 100%;}
.db {
  display: block!important;
}
.dib {
  display: inline-block!important;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.align-l {text-align:left!important;}
.align-c {text-align:center!important;}
.align-r {text-align:right!important;}

/* 字号设置 */
.fs-12 {font-size:12px!important;}
.fs-14 {font-size:14px!important;}
.fs-16 {font-size:16px!important;}
.fs-18 {font-size:18px!important;}
.fs-20 {font-size:20px!important;}
.fs-24 {font-size:24px!important;}
.fs-28 {font-size:28px!important;}
.fs-32 {font-size:32px!important;}
.fs-36 {font-size:36px!important;}
.fs-42 {font-size:42px!important;}
.fs-50 {font-size:50px!important;}

/* 字体设置 */
.ff-mp {font-family: Maven Pro;}
.ff-vd {font-family: Verdana;}
.ff-gg {font-family: Georgia;}
.ff-hv {font-family: Helvetica;}
.ff-ss {font-family: sans-serif;}
.ff-ms {font-family: "Microsoft Yahei";}
.ff-ar {font-family: Arial;}
.ff-ab {font-family: Arial Black;}
.ff-st {font-family: simsun;}
.ff-cs {font-family: cursive;}

/* 字体样式 */
.fs-it {font-style: italic!important;}
.fw-700 {font-weight: 700!important;}

/* 间距 */
.mt-5{margin-top:5px;}.mt-10{margin-top:10px;}.mt-15{margin-top:15px;}.mt-20{margin-top:20px;}.mt-30{margin-top:30px;}
.mb-10{margin-bottom:10px;}.mb-15{margin-bottom:15px;}.mb-20{margin-bottom:20px;}.mb-30{margin-bottom:30px;}
.ml-10{margin-left:10px;}.ml-15{margin-left:15px;}.ml-20{margin-left:20px;}.ml-30{margin-left:30px;}
.mr-10{margin-right:10px;}.mr-15{margin-right:15px;}.mr-20{margin-right:20px;}.mr-30{margin-right:30px;}
.pt-10{padding-top:10px;}.pt-15{padding-top:15px;}.pt-20{padding-top:20px;}.pt-30{padding-top:30px;}
.pb-10{padding-bottom:10px;}.pb-15{padding-bottom:15px;}.pb-20{padding-bottom:20px;}.pb-30{padding-bottom:30px;}
.pl-10{padding-left:10px;}.pl-15{padding-left:15px;}.pl-20{padding-left:20px;}.pl-30{padding-left:30px;}
.pr-10{padding-right:10px;}.pr-15{padding-right:15px;}.pr-20{padding-right:20px;}.pr-30{padding-right:30px;}
.mar10{padding:10px;}.mar15{padding:15px;}.mar20{padding:20px;}.mar30{padding:30px;}
.pad10{padding:10px;}.pad15{padding:15px;}.pad20{padding:20px;}.pad30{padding:30px;}
/* 颜色 */
.bg-fff{background:#fff;}
.bg-f8f8f8{background: #f8f8f8;}
.bg-00e077{background: #00e077;}
.bg-fe2c55{background: #fe2c55;}
.bg-face15{background: #face15;}
.bg-f6fffc{background: #f6fffc;}
.bg-161823{background: #161823;}
.bg-282a3a{background: #282a3a;}
.bg-36384a{background: #36384a;}
.bg-c4b7d7{background: #c4b7d7;}
.bg-d6cfe2{background: #d6cfe2;}
.bg-gradient {background: linear-gradient(90deg, #165dff, #e91e63);}
.text-gradient {background: linear-gradient(90deg, #165dff, #e91e63); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;}
.c-fff{color:#fff;}
.c-ddd{color:#ddd;}
.c-aaa{color:#aaa;}
.c-333{color:#333;}
.c-primary {color: #165dff;}
.c-red {color: #ff3320;}
.c-999{color:#999;}
.c-9d9ea5{color:#9d9ea5;}
.c-58586a{color:#58586a;}
.c-2f3242{color: #2f3242;}
.c-fe2c55{color: #fe2c55;}
.c-165dff{color: #165dff;}
.c-face15{color: #face15;}
.c-f57b15{color: #f57b15;}
.c-07c160{color: #07c160;}
.c-46b6ef{color: #46b6ef;} // 男
.c-f37e7d{color: #f37e7d;} // 女

/* 重置placeholder颜色 */
::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}

/* 重置浏览器滚动条 */
::-webkit-scrollbar {height:3px; width:3px; display: none; }
::-webkit-scrollbar-track {background-color: #f3f3f3;}
::-webkit-scrollbar-track-piece {background: #f3f3f3;}
::-webkit-scrollbar-thumb {background:rgba(0,0,0,.3); border-radius:15px; min-height:15px; width:3px; transition:all .3s;}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,.4)}
::-webkit-scrollbar-thumb:active {background:rgba(0,0,0,.5)}

/* flex弹性盒子 */
.flexbox{display:-webkit-box; display:-webkit-flex; display:flex; display:-ms-flexbox;}
.flex-c {
  display:-webkit-box; display:-webkit-flex; display:flex; display:-ms-flexbox;
  align-items: center; justify-content: center;
}
.flex-r {
  display:-webkit-box; display:-webkit-flex; display:flex; display:-ms-flexbox;
  align-items: center; justify-content: flex-end;
}
.flex-alignt{align-items: flex-start!important;}
.flex-alignc{align-items: center;}
.flex-alignb{align-items: flex-end;}
.flex-selft{align-self: flex-start;}
.flex-selfc{align-self: center;}
.flex-selfb{align-self: flex-end;}
.flex-justifyc {justify-content: center;}
.flex1{-webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1;}
.flex2{-webkit-box-flex:2; -webkit-flex:2; -ms-flex:2; flex:2;}
.flex-col {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
